### Libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import gaussian_kde, boxcox
import unicodedata
import re, json

In [2]:
from ingest.catalog import DatasetCatalog
from ingest.loader import RawDatasetLoader
from ingest.fetch.csv import CsvAdapter
from ingest.fetch.sct import SocrataAdapter
from ingest.fetch.excel import ExcelAdapter
from ingest.fetch.metadata import SocrataMetadata

In [3]:
## servicios
catalog = DatasetCatalog()
loader = RawDatasetLoader(
    csv_adapter=CsvAdapter(),
    sct_adapter=SocrataAdapter(),
    excel_adapter=ExcelAdapter(),
)
from config import  DATA_PATH

### Info base: empresas_10k

In [4]:
ds = catalog.get("empresas_10k")
meta = loader.metadata(ds)
if isinstance(meta, SocrataMetadata):
    print("Nombre:", meta.name)
    print("Descripción:", meta.description)
    print("Columnas:")
    columns = meta.columns
    for col in columns:
        print(f"  - {col.name} ({col.fieldName}): {col.dataTypeName}")
else:
    print("Este origen no soporta metadata estructurada.")
records = list(loader.load(ds))

Nombre: 10.000 Empresas mas Grandes del País
Descripción: Reporte de las diez mil empresas más grandes del país, todas las cifras en este reporte se muestran en Billones de Pesos. Lo invitamos a participar en la siguiente encuesta https://forms.office.com/r/1cWttkdHqM
Columnas:
  - NIT (nit): number
  - RAZÓN SOCIAL (raz_n_social): text
  - SUPERVISOR (supervisor): text
  - REGIÓN (regi_n): text
  - DEPARTAMENTO DOMICILIO (departamento_domicilio): text
  - CIUDAD DOMICILIO (ciudad_domicilio): text
  - CIIU (ciiu): number
  - MACROSECTOR (macrosector): text
  - INGRESOS OPERACIONALES (ingresos_operacionales): text
  - GANANCIA (PÉRDIDA) (ganancia_p_rdida): text
  - TOTAL ACTIVOS (total_activos): text
  - TOTAL PASIVOS (total_pasivos): text
  - TOTAL PATRIMONIO (total_patrimonio): text
  - Año de Corte (a_o_de_corte): number

In [5]:
df_10k = pd.DataFrame(records)
df_10k.describe(include="all")

,nit,raz_n_social,supervisor,regi_n,departamento_domicilio,ciudad_domicilio,ciiu,macrosector,ingresos_operacionales,ganancia_p_rdida,total_activos,total_pasivos,total_patrimonio,a_o_de_corte
count,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
unique,13976,18617,6,7,41,657,418,6,454,211,576,399,491,4
top,899999068,CONVIAS SAS,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,8610,COMERCIO,$0.02,$0.00,$0.01,$0.01,$0.01,2022
freq,4,8,34834,18637,15749,11310,1374,13617,8311,25135,7669,12250,12258,10000

In [6]:
df_10k.groupby("a_o_de_corte")["nit"].nunique()

a_o_de_corte
2021    10000
2022    10000
2023    10000
2024    10000
Name: nit, dtype: int64

### Nit y Razon Social

**Reglas**
- Relación empresa - razon social, debe ser 1 a 1
- Son las primeras 10k empresas por cada año, no implica que sean las mismas

**Notes**
- Parecen haber empresas con diferentes NIT pero misma razón social o viceversa

In [7]:
def clean_text(value: str):
    if pd.isna(value):
        return None
    text = str(value).strip().upper()
    text = "".join(
        c for c in unicodedata.normalize("NFKD", text)
        if not unicodedata.combining(c)
    ).strip()
    invalid_tokens = {
        "", "?", "??", "???", ".", "..", "...",
        "NA", "N/A", "NONE", "NULL",
        "SIN NOMBRE", "SIN NOMBRE.",
        "NO APLICA", "NO REGISTRA",
        "S/N", "S/D", "#NOMBRE?", "NAN"
    }
    if text in invalid_tokens: return None
    if text.replace(" ", "").isdigit(): return None
    if not re.search(r"[A-Z0-9]", text): return None
    if re.search(r"[A-Z]", text): return text
    return None

def is_numeric_string(s: str) -> bool: return s.replace(" ", "").isdigit()

def choose_base_from_names(names: list) -> str:
    """
    - Si hay strings, el base será el string más frecuente.
    - Si todos son numéricos, base = número más frecuente.
    """
    values = list(names)
    numeric = [n for n in values if is_numeric_string(n)]
    stringy = [n for n in values if not is_numeric_string(n)]

    if stringy:
        counts = pd.Series(stringy).value_counts()
        return counts.idxmax()
    counts = pd.Series(numeric).value_counts()
    return counts.idxmax()

def detect_identity_inconsistencies(df, id_col, name_col):
    # ID → nombres
    id_groups = (
        df.groupby(id_col)
        .agg(
            names=(name_col, lambda x: sorted(set(x))),
            n_names=(name_col, "nunique")
        )
        .reset_index()
    )
    inconsistent_id = id_groups[id_groups["n_names"] > 1]
    # Nombre → IDs
    name_groups = (
        df.groupby(name_col)
        .agg(
            ids=(id_col, lambda x: sorted(set(x))),
            n_ids=(id_col, "nunique")
        )
        .reset_index()
    )
    inconsistent_name = name_groups[name_groups["n_ids"] > 1]
    return inconsistent_id, inconsistent_name

In [8]:
def choose_base_dynamic(group, name_col, id_col, year_col):
    if year_col in group.columns:
        max_year = group[year_col].max()
        sub = group[group[year_col] == max_year]
        
        cleaned = [clean_text(n) for n in sub[name_col] if clean_text(n)]
        if cleaned:
            return pd.Series(cleaned).value_counts().idxmax()    
    cleaned_all = [clean_text(n) for n in group[name_col].unique() if clean_text(n)]
    if cleaned_all:
        return pd.Series(cleaned_all).value_counts().idxmax()
    return group[id_col].iloc[0]

def build_base_names(df, id_col, name_col, year_col="a_o_de_corte"):
    base_names = {}
    for nit, group in df.groupby(id_col):
        base = choose_base_dynamic(group, name_col, id_col, year_col)
        base_names[nit] = base
    return base_names


def apply_stage1(df, id_col, base_names):
    df["name_stage1"] = df[id_col].map(base_names)
    return df

def detect_multi_nit_names(df, name_col, id_col):
    name_groups = (
        df.groupby(name_col)
        .agg(nits=(id_col, lambda x: sorted(set(x))), n_ids=(id_col, "nunique"))
        .reset_index()
    )
    multi = name_groups[name_groups["n_ids"] > 1]
    return multi

def apply_stage2(df, id_col, name_col, multi):
    multi_names = set(multi[name_col].tolist())
    
    df["canonical_name"] = df.apply(
        lambda row:
            f"{row[name_col]}__{row[id_col]}"
            if row[name_col] in multi_names
            else row[name_col],
        axis=1
    )
    return df

In [9]:
## Nit y Razon Social
# convertir a string
df_10k.nit = df_10k.nit.astype(str).str.strip()
dups = df_10k.duplicated(subset=["nit", "a_o_de_corte"])
print(f"Nit duplicados por año: {dups.sum()}")
# verificar duplicados por año

# normalizar razon social
df_10k.raz_n_social = df_10k.apply(
    lambda row: clean_text(row.raz_n_social) or row.nit, axis=1
)
dups = df_10k.duplicated(subset=["raz_n_social", "a_o_de_corte"])
print(f"Razon social duplicados por año: {dups.sum()}")

inc_id, inc_name = detect_identity_inconsistencies(
    df_10k, id_col="nit", name_col="raz_n_social"
)
print(f"IDs con nombres múltiples: {len(inc_id)}")
print(f"Nombres con IDs múltiples: {len(inc_name)}")

base_names = build_base_names(df_10k, "nit", "raz_n_social")
df_10k = apply_stage1(df_10k, "nit", base_names)
multi = detect_multi_nit_names(df_10k, "name_stage1", "nit")
df_10k = apply_stage2(df_10k, "nit", "name_stage1", multi)
df_10k.drop(columns=["name_stage1", "raz_n_social"], inplace=True)
df_10k.rename(columns={"canonical_name": "raz_n_social"}, inplace=True)

inc_id, inc_name = detect_identity_inconsistencies(
    df_10k, id_col="nit", name_col="raz_n_social"
)

dups = df_10k.duplicated(subset=["raz_n_social", "a_o_de_corte"])
print(f"Razon social duplicados por año: {dups.sum()}")

print(f"IDs con nombres múltiples (After): {len(inc_id)}")
print(f"Nombres con IDs múltiples (After): {len(inc_name)}")
df_10k[["nit", "raz_n_social"]].describe()

Nit duplicados por año: 0
Razon social duplicados por año: 10
IDs con nombres múltiples: 3382
Nombres con IDs múltiples: 9
Razon social duplicados por año: 0
IDs con nombres múltiples (After): 0
Nombres con IDs múltiples (After): 0

              nit   raz_n_social
count       40000          40000
unique      13976          13976
top     899999068  ECOPETROL S.A
freq            4              4

### Financieras

In [10]:
financial_cols = [
    "ingresos_operacionales",
    "ganancia_p_rdida",
    "total_activos",
    "total_pasivos",
    "total_patrimonio"
]

for c in financial_cols:
    df_10k[c] = df_10k[c].astype(str)\
                 .str.replace("$", "", regex=False)\
                 .str.replace(".", "", regex=False)\
                 .str.replace(",", ".", regex=False)\
                 .astype(float) 
    df_10k[c] = pd.to_numeric(df_10k[c], errors='coerce')
df_10k[financial_cols].describe()

,ingresos_operacionales,ganancia_p_rdida,total_activos,total_pasivos,total_patrimonio
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,16.766950,1.316000,21.806125,11.070175,10.707975
std,139.299075,25.404198,236.961751,134.516182,111.752784
min,1.000000,-321.000000,0.000000,0.000000,-369.000000
25%,3.000000,0.000000,2.000000,1.000000,1.000000
50%,4.000000,0.000000,3.000000,2.000000,1.000000
75%,10.000000,1.000000,9.000000,5.000000,4.000000
max,14482.000000,3341.000000,21685.000000,13054.000000,9103.000000

### CIIU y Macrosector

In [11]:
# Número de CIIU distintos por empresa
ciiu_change = (
    df_10k.groupby("nit")["ciiu"]
    .nunique()
    .reset_index(name="ciiu_variants")
    .query("ciiu_variants > 1")
)

print(f"Empresas con múltiples CIIU: {len(ciiu_change)}")

# Ver detalles
ciiu_details = (
    df_10k[df_10k["nit"].isin(ciiu_change["nit"])]
    .sort_values(["nit", "a_o_de_corte"])
    [["nit", "a_o_de_corte", "ciiu", "macrosector"]]
)

ciiu_details.head(5)

Empresas con múltiples CIIU: 694

             nit a_o_de_corte  ciiu   macrosector
11357  800007193         2021   126  AGROPECUARIO
1665   800007193         2022   126  AGROPECUARIO
22402  800007193         2023   126  AGROPECUARIO
32238  800007193         2024  1031   MANUFACTURA
13567  800007355         2021  2100   MANUFACTURA

In [12]:
sector_change = (
    df_10k.groupby("nit")["macrosector"]
    .nunique()
    .reset_index(name="sector_variants")
    .query("sector_variants > 1")
)

print(f"Empresas con cambios de macrosector: {len(sector_change)}")

sector_details = (
    df_10k[df_10k["nit"].isin(sector_change["nit"])]
    .sort_values(["nit", "a_o_de_corte"])
    [["nit", "a_o_de_corte", "macrosector"]]
)

sector_details.head(5)

Empresas con cambios de macrosector: 294

             nit a_o_de_corte   macrosector
11357  800007193         2021  AGROPECUARIO
1665   800007193         2022  AGROPECUARIO
22402  800007193         2023  AGROPECUARIO
32238  800007193         2024   MANUFACTURA
13567  800007355         2021   MANUFACTURA

### Region: Departamento y Ciudad

In [13]:
ds = catalog.get("divipola")
meta = loader.metadata(ds)
records = list(loader.load(ds))
df_div = pd.DataFrame(records)
df_div.head(3)

  cod_dpto       dpto cod_mpio   nom_mpio tipo_municipio    longitud   latitud
0       05  ANTIOQUIA    05001   MEDELLÍN      Municipio  -75,581775  6,246631
1       05  ANTIOQUIA    05002  ABEJORRAL      Municipio  -75,428739  5,789315
2       05  ANTIOQUIA    05004   ABRIAQUÍ      Municipio  -76,064304  6,632282

In [14]:
df_10k.departamento_domicilio = df_10k.apply(
    lambda row: clean_text(row.departamento_domicilio), axis=1
)
unique_dept = df_10k.departamento_domicilio.unique()
print(f"Departamentos unicos: {len(unique_dept)}")

DEPT_CORRECTIONS = {
    "VALLE": "VALLE DEL CAUCA",     
    "GUAJIRA": "LA GUAJIRA",
    "MONTERIA": "CORDOBA",
    "VALLEDUPAR": "CESAR",
    "ARMENIA": "QUINDIO",
}

def normalize_department(s):
    if pd.isna(s):
        return None
    s_clean = clean_text(s)
    return DEPT_CORRECTIONS.get(s_clean, s_clean)

df_10k["departamento_domicilio"] = df_10k["departamento_domicilio"].apply(normalize_department)
df_10k.departamento_domicilio.value_counts()
unique_dept = df_10k.departamento_domicilio.unique()
print(f"Departamentos unicos: {len(unique_dept)} (After)")

Departamentos unicos: 38
Departamentos unicos: 33 (After)

#### Las regiones originales vs departamentos parecen tener casos imposibles o extraños
- Region con departamentos que no le corresponden

In [20]:
reg_dep = {
    region: sorted(
        df_10k.loc[df_10k["regi_n"] == region, "departamento_domicilio"].unique().tolist()
    )
    for region in df_10k.regi_n.unique()
}
print(json.dumps(reg_dep, indent=4, ensure_ascii=False))

{
    "Bogotá - Cundinamarca": [
        "BOGOTA D.C.",
        "CASANARE",
        "CUNDINAMARCA",
        "META",
        "NORTE DE SANTANDER",
        "SANTANDER"
    ],
    "Costa Atlántica": [
        "ATLANTICO",
        "BOGOTA D.C.",
        "BOLIVAR",
        "CESAR",
        "CORDOBA",
        "CUNDINAMARCA",
        "LA GUAJIRA",
        "MAGDALENA",
        "SAN ANDRES Y PROVIDENCIA",
        "SUCRE"
    ],
    "Antioquia": [
        "ANTIOQUIA",
        "ATLANTICO",
        "BOGOTA D.C.",
        "CALDAS",
        "VALLE DEL CAUCA"
    ],
    "Costa Pacífica": [
        "BOGOTA D.C.",
        "CAUCA",
        "CHOCO",
        "NARINO",
        "VALLE DEL CAUCA"
    ],
    "Eje Cafetero": [
        "ANTIOQUIA",
        "BOGOTA D.C.",
        "CALDAS",
        "QUINDIO",
        "RISARALDA"
    ],
    "Centro - Oriente": [
        "ANTIOQUIA",
        "BOYACA",
        "NORTE DE SANTANDER",
        "SANTANDER"
    ],
    "Otros": [
        "AMAZONAS",
        "ARAUCA",
        "BOGOTA D.C.",
        "CAQUETA",
        "CASANARE",
        "CESAR",
        "CHOCO",
        "CORDOBA",
        "GUAINIA",
        "GUAVIARE",
        "HUILA",
        "LA GUAJIRA",
        "META",
        "PUTUMAYO",
        "QUINDIO",
        "SAN ANDRES Y PROVIDENCIA",
        "TOLIMA",
        "VAUPES",
        "VICHADA"
    ]
}

In [ ]:
# mapa correcto departamento -> región (segun su propios tipos)
correct = {
    # Bogotá - Cundinamarca
    "BOGOTA D.C.": "Bogotá - Cundinamarca",
    "CUNDINAMARCA": "Bogotá - Cundinamarca",

    # Centro - Oriente
    "BOYACA": "Centro - Oriente",
    "TOLIMA": "Centro - Oriente",
    "HUILA": "Centro - Oriente",
    "SANTANDER": "Centro - Oriente",
    "NORTE DE SANTANDER": "Centro - Oriente",

    # Costa Atlántica
    "ATLANTICO": "Costa Atlántica",
    "MAGDALENA": "Costa Atlántica",
    "BOLIVAR": "Costa Atlántica",
    "SUCRE": "Costa Atlántica",
    "CORDOBA": "Costa Atlántica",
    "LA GUAJIRA": "Costa Atlántica",
    "CESAR": "Costa Atlántica",

    # Costa Pacífica
    "VALLE DEL CAUCA": "Costa Pacífica",
    "CAUCA": "Costa Pacífica",
    "NARINO": "Costa Pacífica",
    "CHOCO": "Costa Pacífica",

    # ANTIOQUIA
    "ANTIOQUIA": "Antioquia",

    # Eje Cafetero
    "CALDAS": "Eje Cafetero",
    "RISARALDA": "Eje Cafetero",
    "QUINDIO": "Eje Cafetero",

    # Otros (Amazonía – Orinoquía)
    "SAN ANDRES Y PROVIDENCIA": "Otros",
    "META": "Otros",
    "CASANARE": "Otros",
    "ARAUCA": "Otros",
    "GUAVIARE": "Otros",
    "GUAINIA": "Otros",
    "VAUPES": "Otros",
    "VICHADA": "Otros",
    "AMAZONAS": "Otros",
    "CAQUETA": "Otros",
    "PUTUMAYO": "Otros",
}
df_10k["regi_n_corregida"] = df_10k["departamento_domicilio"].map(correct)

In [ ]:
region_oficial = {
    "Andina": [
        "ANTIOQUIA",
        "BOYACA",
        "CALDAS",
        "CUNDINAMARCA",
        "HUILA",
        "NORTE DE SANTANDER",
        "QUINDIO",
        "RISARALDA",
        "SANTANDER",
        "TOLIMA",
    ],

    "Caribe": [
        "ATLANTICO",
        "BOLIVAR",
        "CESAR",
        "CORDOBA",
        "LA GUAJIRA",
        "MAGDALENA",
        "SUCRE",
    ],

    "Pacifico": [
        "CAUCA",
        "CHOCO",
        "NARINO",
        "VALLE DEL CAUCA",
    ],

    "Orinoquia": [
        "ARAUCA",
        "CASANARE",
        "META",
        "VICHADA",
    ],

    "Amazonia": [
        "AMAZONAS",
        "CAQUETA",
        "GUAINIA",
        "GUAVIARE",
        "PUTUMAYO",
        "VAUPES",
    ],

    "Insular": [
        "SAN ANDRES Y PROVIDENCIA"
    ],
}

dept_to_region = {
    dept: region
    for region, dept_list in region_oficial.items()
    for dept in dept_list
}

df_10k["region_oficial"] = df_10k["departamento_domicilio"].map(dept_to_region)

- Elegir una region y cruzar con divipola -> asignar lat lon a cada departamento

In [24]:
inconsistent = df_10k[df_10k["regi_n"] != df_10k["regi_n_corregida"]]
inconsistent[["departamento_domicilio", "regi_n", "regi_n_corregida", "region_oficial"]].value_counts()

departamento_domicilio    regi_n                 regi_n_corregida       region_oficial
TOLIMA                    Otros                  Centro - Oriente       Andina            343
HUILA                     Otros                  Centro - Oriente       Andina            319
SAN ANDRES Y PROVIDENCIA  Costa Atlántica        Otros                  Insular            64
CESAR                     Otros                  Costa Atlántica        Caribe             60
CHOCO                     Otros                  Costa Pacífica         Pacifico           15
LA GUAJIRA                Otros                  Costa Atlántica        Caribe             15
CORDOBA                   Otros                  Costa Atlántica        Caribe              2
META                      Bogotá - Cundinamarca  Otros                  Orinoquia           1
SANTANDER                 Bogotá - Cundinamarca  Centro - Oriente       Andina              1
QUINDIO                   Otros                  Eje Cafetero           Andina              1
NORTE DE SANTANDER        Bogotá - Cundinamarca  Centro - Oriente       Andina              1
ANTIOQUIA                 Centro - Oriente       Antioquia              Andina              1
                          Eje Cafetero           Antioquia              Andina              1
CUNDINAMARCA              Costa Atlántica        Bogotá - Cundinamarca  Andina              1
CASANARE                  Bogotá - Cundinamarca  Otros                  Orinoquia           1
CALDAS                    Antioquia              Eje Cafetero           Andina              1
ATLANTICO                 Antioquia              Costa Atlántica        Caribe              1
VALLE DEL CAUCA           Antioquia              Costa Pacífica         Pacifico            1
Name: count, dtype: int64

In [25]:
region_change = (
    df_10k.groupby("nit")["regi_n_corregida"]
    .nunique()
    .reset_index(name="region_variants")
    .query("region_variants > 1")
)

print(f"Empresas con cambios de región: {len(region_change)}")

dpto_change = (
    df_10k.groupby("nit")["departamento_domicilio"]
    .nunique()
    .reset_index(name="dpto_variants")
    .query("dpto_variants > 1")
)
print(f"Empresas con cambios de departamento: {len(dpto_change)}")

dpto_change = (
    df_10k.groupby("nit")["ciudad_domicilio"]
    .nunique()
    .reset_index(name="dpto_variants")
    .query("dpto_variants > 1")
)
print(f"Empresas con cambios de ciudad: {len(dpto_change)}")

Empresas con cambios de región: 68
Empresas con cambios de departamento: 159
Empresas con cambios de ciudad: 6293