### Libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import gaussian_kde, boxcox
import re, json
from rapidfuzz import process, fuzz

In [3]:
from ingest.catalog import DatasetCatalog
from ingest.loader import RawDatasetLoader
from ingest.fetch.csv import CsvAdapter
from ingest.fetch.sct import SocrataAdapter
from ingest.fetch.excel import ExcelAdapter
from ingest.fetch.metadata import SocrataMetadata

In [4]:
from utils.clean import clean_text, is_numeric_string, normalize_code_to_length, normalize_text

In [5]:
## servicios
catalog = DatasetCatalog()
loader = RawDatasetLoader(
    csv_adapter=CsvAdapter(),
    sct_adapter=SocrataAdapter(),
    excel_adapter=ExcelAdapter(),
)
from config import  DATA_PATH

### Info base: empresas_10k

In [62]:
ds = catalog.get("empresas_10k")
meta = loader.metadata(ds)
if isinstance(meta, SocrataMetadata):
    print("Nombre:", meta.name)
    print("Descripción:", meta.description)
    print("Columnas:")
    columns = meta.columns
    for col in columns:
        print(f"  - {col.name} ({col.fieldName}): {col.dataTypeName}")
else:
    print("Este origen no soporta metadata estructurada.")
records = list(loader.load(ds))

Nombre: 10.000 Empresas mas Grandes del País
Descripción: Reporte de las diez mil empresas más grandes del país, todas las cifras en este reporte se muestran en Billones de Pesos. Lo invitamos a participar en la siguiente encuesta https://forms.office.com/r/1cWttkdHqM
Columnas:
  - NIT (nit): number
  - RAZÓN SOCIAL (raz_n_social): text
  - SUPERVISOR (supervisor): text
  - REGIÓN (regi_n): text
  - DEPARTAMENTO DOMICILIO (departamento_domicilio): text
  - CIUDAD DOMICILIO (ciudad_domicilio): text
  - CIIU (ciiu): number
  - MACROSECTOR (macrosector): text
  - INGRESOS OPERACIONALES (ingresos_operacionales): text
  - GANANCIA (PÉRDIDA) (ganancia_p_rdida): text
  - TOTAL ACTIVOS (total_activos): text
  - TOTAL PASIVOS (total_pasivos): text
  - TOTAL PATRIMONIO (total_patrimonio): text
  - Año de Corte (a_o_de_corte): number

In [63]:
df_10k = pd.DataFrame(records)
df_10k.describe(include="all")

,nit,raz_n_social,supervisor,regi_n,departamento_domicilio,ciudad_domicilio,ciiu,macrosector,ingresos_operacionales,ganancia_p_rdida,total_activos,total_pasivos,total_patrimonio,a_o_de_corte
count,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000,40000
unique,13976,18617,6,7,41,657,418,6,454,211,576,399,491,4
top,899999068,CONVIAS SAS,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,8610,COMERCIO,$0.02,$0.00,$0.01,$0.01,$0.01,2022
freq,4,8,34834,18637,15749,11310,1374,13617,8311,25135,7669,12250,12258,10000

In [64]:
df_10k.head()

,nit,raz_n_social,supervisor,regi_n,departamento_domicilio,ciudad_domicilio,ciiu,macrosector,ingresos_operacionales,ganancia_p_rdida,total_activos,total_pasivos,total_patrimonio,a_o_de_corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022

In [65]:
df_10k.groupby("a_o_de_corte")["nit"].nunique()

a_o_de_corte
2021    10000
2022    10000
2023    10000
2024    10000
Name: nit, dtype: int64

### Nit y Razon Social

**Reglas**
- Relación empresa - razon social, debe ser 1 a 1
- Son las primeras 10k empresas por cada año, no implica que sean las mismas

**Notes**
- Parecen haber empresas con diferentes NIT pero misma razón social o viceversa

In [66]:
def choose_base_from_names(names: list) -> str:
    """
    - Si hay strings, el base será el string más frecuente.
    - Si todos son numéricos, base = número más frecuente.
    """
    values = list(names)
    numeric = [n for n in values if is_numeric_string(n)]
    stringy = [n for n in values if not is_numeric_string(n)]

    if stringy:
        counts = pd.Series(stringy).value_counts()
        return counts.idxmax()
    counts = pd.Series(numeric).value_counts()
    return counts.idxmax()

def detect_identity_inconsistencies(df, id_col, name_col):
    # ID → nombres
    id_groups = (
        df.groupby(id_col)
        .agg(
            names=(name_col, lambda x: sorted(set(x))),
            n_names=(name_col, "nunique")
        )
        .reset_index()
    )
    inconsistent_id = id_groups[id_groups["n_names"] > 1]
    # Nombre → IDs
    name_groups = (
        df.groupby(name_col)
        .agg(
            ids=(id_col, lambda x: sorted(set(x))),
            n_ids=(id_col, "nunique")
        )
        .reset_index()
    )
    inconsistent_name = name_groups[name_groups["n_ids"] > 1]
    return inconsistent_id, inconsistent_name

In [67]:
def choose_base_dynamic(group, name_col, id_col, year_col):
    if year_col in group.columns:
        max_year = group[year_col].max()
        sub = group[group[year_col] == max_year]
        
        cleaned = [clean_text(n) for n in sub[name_col] if clean_text(n)]
        if cleaned:
            return pd.Series(cleaned).value_counts().idxmax()    
    cleaned_all = [clean_text(n) for n in group[name_col].unique() if clean_text(n)]
    if cleaned_all:
        return pd.Series(cleaned_all).value_counts().idxmax()
    return group[id_col].iloc[0]

def build_base_names(df, id_col, name_col, year_col="a_o_de_corte"):
    base_names = {}
    for nit, group in df.groupby(id_col):
        base = choose_base_dynamic(group, name_col, id_col, year_col)
        base_names[nit] = base
    return base_names


def apply_stage1(df, id_col, base_names):
    df["name_stage1"] = df[id_col].map(base_names)
    return df

def detect_multi_nit_names(df, name_col, id_col):
    name_groups = (
        df.groupby(name_col)
        .agg(nits=(id_col, lambda x: sorted(set(x))), n_ids=(id_col, "nunique"))
        .reset_index()
    )
    multi = name_groups[name_groups["n_ids"] > 1]
    return multi

def apply_stage2(df, id_col, name_col, multi):
    multi_names = set(multi[name_col].tolist())
    
    df["canonical_name"] = df.apply(
        lambda row:
            f"{row[name_col]}__{row[id_col]}"
            if row[name_col] in multi_names
            else row[name_col],
        axis=1
    )
    return df

In [68]:
## Nit y Razon Social
# convertir a string
df_10k.nit = df_10k.nit.astype(str).str.strip()
dups = df_10k.duplicated(subset=["nit", "a_o_de_corte"])
print(f"Nit duplicados por año: {dups.sum()}")
# verificar duplicados por año

# normalizar razon social
df_10k.raz_n_social = df_10k.apply(
    lambda row: clean_text(row.raz_n_social) or row.nit, axis=1
)
dups = df_10k.duplicated(subset=["raz_n_social", "a_o_de_corte"])
print(f"Razon social duplicados por año: {dups.sum()}")

inc_id, inc_name = detect_identity_inconsistencies(
    df_10k, id_col="nit", name_col="raz_n_social"
)
print(f"IDs con nombres múltiples: {len(inc_id)}")
print(f"Nombres con IDs múltiples: {len(inc_name)}")

base_names = build_base_names(df_10k, "nit", "raz_n_social")
df_10k = apply_stage1(df_10k, "nit", base_names)
multi = detect_multi_nit_names(df_10k, "name_stage1", "nit")
df_10k = apply_stage2(df_10k, "nit", "name_stage1", multi)
df_10k.drop(columns=["name_stage1", "raz_n_social"], inplace=True)
df_10k.rename(columns={"canonical_name": "raz_n_social"}, inplace=True)

inc_id, inc_name = detect_identity_inconsistencies(
    df_10k, id_col="nit", name_col="raz_n_social"
)

dups = df_10k.duplicated(subset=["raz_n_social", "a_o_de_corte"])
print(f"Razon social duplicados por año: {dups.sum()}")

print(f"IDs con nombres múltiples (After): {len(inc_id)}")
print(f"Nombres con IDs múltiples (After): {len(inc_name)}")
df_10k[["nit", "raz_n_social"]].describe()

Nit duplicados por año: 0
Razon social duplicados por año: 10
IDs con nombres múltiples: 3382
Nombres con IDs múltiples: 9
Razon social duplicados por año: 0
IDs con nombres múltiples (After): 0
Nombres con IDs múltiples (After): 0

              nit   raz_n_social
count       40000          40000
unique      13976          13976
top     899999068  ECOPETROL S.A
freq            4              4

### Financieras

In [69]:
financial_cols = [
    "ingresos_operacionales",
    "ganancia_p_rdida",
    "total_activos",
    "total_pasivos",
    "total_patrimonio"
]

for c in financial_cols:
    df_10k[c] = df_10k[c].astype(str)\
                 .str.replace("$", "", regex=False)\
                 .str.replace(".", "", regex=False)\
                 .str.replace(",", ".", regex=False)\
                 .astype(float) 
    df_10k[c] = pd.to_numeric(df_10k[c], errors='coerce')
df_10k[financial_cols].describe()

,ingresos_operacionales,ganancia_p_rdida,total_activos,total_pasivos,total_patrimonio
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,16.766950,1.316000,21.806125,11.070175,10.707975
std,139.299075,25.404198,236.961751,134.516182,111.752784
min,1.000000,-321.000000,0.000000,0.000000,-369.000000
25%,3.000000,0.000000,2.000000,1.000000,1.000000
50%,4.000000,0.000000,3.000000,2.000000,1.000000
75%,10.000000,1.000000,9.000000,5.000000,4.000000
max,14482.000000,3341.000000,21685.000000,13054.000000,9103.000000

### CIIU y Macrosector

In [70]:
# normalizar ciiu
df_10k["ciiu_code"] = df_10k["ciiu"].apply(lambda x: normalize_code_to_length(x, 4))
ds = catalog.get("ciiu")
records = list(loader.load(ds))
df_ciiu = pd.DataFrame(records)

In [71]:
ciiu_valid_set = set(
    df_ciiu["ciiu_code"]
        .dropna()
        .astype(str)
        .unique()
)

ciiu_10k_set = set(
    df_10k["ciiu_code"]
        .dropna()
        .astype(str)
        .unique()
)

ciiu_valid    = ciiu_10k_set.intersection(ciiu_valid_set)
ciiu_missing  = ciiu_10k_set.difference(ciiu_valid_set)

print("Total distinct in df_10k:", len(ciiu_10k_set))
print("Valid in catalog:", len(ciiu_valid))
print("Missing:", len(ciiu_missing))
print("Missing codes:", ciiu_missing)

def impute_missing_ciiu(ciiu_code: str, valid_codes: set) -> str:
    if ciiu_code in valid_codes:
        return ciiu_code

    code = str(ciiu_code).strip()
    if not code.isdigit():
        return None
    
    group_prefix = code[:3]  # 1031 -> "103"
    group_matches = sorted([c for c in valid_codes if c.startswith(group_prefix)])
    if group_matches: return group_matches[0]  # 1030
    return None  

df_10k["ciiu_code"] = df_10k["ciiu_code"].apply(
    lambda x: impute_missing_ciiu(x, ciiu_valid_set)
)

ciiu_10k_after = set(df_10k["ciiu_code"].dropna().astype(str).unique())
ciiu_new_missing = ciiu_10k_after.difference(ciiu_valid_set)
print("\nPost-imputation analysis:")
print("Total distinct now:", len(ciiu_10k_after))
print("Missing after imput:", len(ciiu_new_missing))
print("Missing codes after imput:", ciiu_new_missing)

Total distinct in df_10k: 418
Valid in catalog: 412
Missing: 6
Missing codes: {'1031', '8899', '1032', '7112', '7111', '1033'}

Post-imputation analysis:
Total distinct now: 412
Missing after imput: 0
Missing codes after imput: set()

In [72]:
map_ciiu_to_macro = (
    df_ciiu
        .dropna(subset=["ciiu_code"])
        .set_index("ciiu_code")["infered_macrosector"]
        .to_dict()
)
df_10k["macrosector_official"] = df_10k["ciiu_code"].map(map_ciiu_to_macro)
df_10k["macro_consistency"] = (
    df_10k["macrosector"] == df_10k["macrosector_official"]
)
df_incons = df_10k[df_10k["macro_consistency"] == False]
print(f"Registros con inconsistencia macrosector: {len(df_incons)}")
print(df_incons[["ciiu_code", "macrosector", "macrosector_official"]].head())
df_10k.drop(columns=["macro_consistency"], inplace=True)

Registros con inconsistencia macrosector: 129
      ciiu_code   macrosector macrosector_official
275        6613   MANUFACTURA            SERVICIOS
320        6613   MANUFACTURA            SERVICIOS
459        5612   MANUFACTURA            SERVICIOS
1172       7110  CONSTRUCCIÓN            SERVICIOS
10076      4631   MANUFACTURA             COMERCIO

In [73]:
df_10k.iloc[0]

nit                                     899999068
supervisor                        SUPERFINANCIERA
regi_n                      Bogotá - Cundinamarca
departamento_domicilio                BOGOTA D.C.
ciudad_domicilio          BOGOTA D.C.-BOGOTA D.C.
ciiu                                          610
macrosector                                MINERO
ingresos_operacionales                    14482.0
ganancia_p_rdida                           3341.0
total_activos                             21685.0
total_pasivos                             12581.0
total_patrimonio                           9103.0
a_o_de_corte                                 2022
raz_n_social                        ECOPETROL S.A
ciiu_code                                    0610
macrosector_official                       MINERO
Name: 0, dtype: object

In [74]:
# Número de CIIU distintos por empresa
ciiu_change = (
    df_10k.groupby("nit")["ciiu"]
    .nunique()
    .reset_index(name="ciiu_variants")
    .query("ciiu_variants > 1")
)

print(f"Empresas con múltiples CIIU: {len(ciiu_change)}")

ciiu_details = (
    df_10k[df_10k["nit"].isin(ciiu_change["nit"])]
    .sort_values(["nit", "a_o_de_corte"])
    [["nit", "a_o_de_corte", "ciiu", "macrosector"]]
)

sector_change = (
    df_10k.groupby("nit")["macrosector"]
    .nunique()
    .reset_index(name="sector_variants")
    .query("sector_variants > 1")
)

print(f"Empresas con cambios de macrosector: {len(sector_change)}")

sector_details = (
    df_10k[df_10k["nit"].isin(sector_change["nit"])]
    .sort_values(["nit", "a_o_de_corte"])
    [["nit", "a_o_de_corte", "macrosector"]]
)

Empresas con múltiples CIIU: 694
Empresas con cambios de macrosector: 294

### Region: Departamento y Ciudad

In [75]:
ds = catalog.get("divipola")
meta = loader.metadata(ds)
records = list(loader.load(ds))
df_div = pd.DataFrame(records)
df_div.head(3)

  cod_dpto       dpto cod_mpio   nom_mpio tipo_municipio    longitud   latitud
0       05  ANTIOQUIA    05001   MEDELLÍN      Municipio  -75,581775  6,246631
1       05  ANTIOQUIA    05002  ABEJORRAL      Municipio  -75,428739  5,789315
2       05  ANTIOQUIA    05004   ABRIAQUÍ      Municipio  -76,064304  6,632282

In [76]:
df_10k.departamento_domicilio = df_10k.apply(
    lambda row: clean_text(row.departamento_domicilio), axis=1
)
unique_dept = df_10k.departamento_domicilio.unique()
print(f"Departamentos unicos: {len(unique_dept)}")

DEPT_CORRECTIONS = {
    "VALLE": "VALLE DEL CAUCA",     
    "GUAJIRA": "LA GUAJIRA",
    "MONTERIA": "CORDOBA",
    "VALLEDUPAR": "CESAR",
    "ARMENIA": "QUINDIO",
}

def normalize_department(s):
    if pd.isna(s):
        return None
    s_clean = clean_text(s)
    return DEPT_CORRECTIONS.get(s_clean, s_clean)

df_10k["departamento_domicilio"] = df_10k["departamento_domicilio"].apply(normalize_department)
df_10k.departamento_domicilio.value_counts()
unique_dept = df_10k.departamento_domicilio.unique()
print(f"Departamentos unicos: {len(unique_dept)} (After)")

Departamentos unicos: 38
Departamentos unicos: 33 (After)

#### Las regiones originales vs departamentos parecen tener casos imposibles o extraños
- Region con departamentos que no le corresponden

In [77]:
reg_dep = {
    region: sorted(
        df_10k.loc[df_10k["regi_n"] == region, "departamento_domicilio"].unique().tolist()
    )
    for region in df_10k.regi_n.unique()
}
print(json.dumps(reg_dep, indent=4, ensure_ascii=False))

{
    "Bogotá - Cundinamarca": [
        "BOGOTA D.C.",
        "CASANARE",
        "CUNDINAMARCA",
        "META",
        "NORTE DE SANTANDER",
        "SANTANDER"
    ],
    "Costa Atlántica": [
        "ATLANTICO",
        "BOGOTA D.C.",
        "BOLIVAR",
        "CESAR",
        "CORDOBA",
        "CUNDINAMARCA",
        "LA GUAJIRA",
        "MAGDALENA",
        "SAN ANDRES Y PROVIDENCIA",
        "SUCRE"
    ],
    "Antioquia": [
        "ANTIOQUIA",
        "ATLANTICO",
        "BOGOTA D.C.",
        "CALDAS",
        "VALLE DEL CAUCA"
    ],
    "Costa Pacífica": [
        "BOGOTA D.C.",
        "CAUCA",
        "CHOCO",
        "NARINO",
        "VALLE DEL CAUCA"
    ],
    "Eje Cafetero": [
        "ANTIOQUIA",
        "BOGOTA D.C.",
        "CALDAS",
        "QUINDIO",
        "RISARALDA"
    ],
    "Centro - Oriente": [
        "ANTIOQUIA",
        "BOYACA",
        "NORTE DE SANTANDER",
        "SANTANDER"
    ],
    "Otros": [
        "AMAZONAS",
        "ARAUCA",
        "BOGOTA D.C.",
        "CAQUETA",
        "CASANARE",
        "CESAR",
        "CHOCO",
        "CORDOBA",
        "GUAINIA",
        "GUAVIARE",
        "HUILA",
        "LA GUAJIRA",
        "META",
        "PUTUMAYO",
        "QUINDIO",
        "SAN ANDRES Y PROVIDENCIA",
        "TOLIMA",
        "VAUPES",
        "VICHADA"
    ]
}

In [78]:
# mapa correcto departamento -> región (segun su propios tipos)
correct = {
    # Bogotá - Cundinamarca
    "BOGOTA D.C.": "Bogotá - Cundinamarca",
    "CUNDINAMARCA": "Bogotá - Cundinamarca",

    # Centro - Oriente
    "BOYACA": "Centro - Oriente",
    "TOLIMA": "Centro - Oriente",
    "HUILA": "Centro - Oriente",
    "SANTANDER": "Centro - Oriente",
    "NORTE DE SANTANDER": "Centro - Oriente",

    # Costa Atlántica
    "ATLANTICO": "Costa Atlántica",
    "MAGDALENA": "Costa Atlántica",
    "BOLIVAR": "Costa Atlántica",
    "SUCRE": "Costa Atlántica",
    "CORDOBA": "Costa Atlántica",
    "LA GUAJIRA": "Costa Atlántica",
    "CESAR": "Costa Atlántica",

    # Costa Pacífica
    "VALLE DEL CAUCA": "Costa Pacífica",
    "CAUCA": "Costa Pacífica",
    "NARINO": "Costa Pacífica",
    "CHOCO": "Costa Pacífica",

    # ANTIOQUIA
    "ANTIOQUIA": "Antioquia",

    # Eje Cafetero
    "CALDAS": "Eje Cafetero",
    "RISARALDA": "Eje Cafetero",
    "QUINDIO": "Eje Cafetero",

    # Otros (Amazonía – Orinoquía)
    "SAN ANDRES Y PROVIDENCIA": "Otros",
    "META": "Otros",
    "CASANARE": "Otros",
    "ARAUCA": "Otros",
    "GUAVIARE": "Otros",
    "GUAINIA": "Otros",
    "VAUPES": "Otros",
    "VICHADA": "Otros",
    "AMAZONAS": "Otros",
    "CAQUETA": "Otros",
    "PUTUMAYO": "Otros",
}
df_10k["regi_n_corregida"] = df_10k["departamento_domicilio"].map(correct)

In [79]:
region_oficial = {
    "Andina": [
        "BOGOTA D.C.",
        "ANTIOQUIA",
        "BOYACA",
        "CALDAS",
        "CUNDINAMARCA",
        "HUILA",
        "NORTE DE SANTANDER",
        "QUINDIO",
        "RISARALDA",
        "SANTANDER",
        "TOLIMA",
    ],

    "Caribe": [
        "ATLANTICO",
        "BOLIVAR",
        "CESAR",
        "CORDOBA",
        "LA GUAJIRA",
        "MAGDALENA",
        "SUCRE",
    ],

    "Pacifico": [
        "CAUCA",
        "CHOCO",
        "NARINO",
        "VALLE DEL CAUCA",
    ],

    "Orinoquia": [
        "ARAUCA",
        "CASANARE",
        "META",
        "VICHADA",
    ],

    "Amazonia": [
        "AMAZONAS",
        "CAQUETA",
        "GUAINIA",
        "GUAVIARE",
        "PUTUMAYO",
        "VAUPES",
    ],

    "Insular": [
        "SAN ANDRES Y PROVIDENCIA"
    ],
}

dept_to_region = {
    dept: region
    for region, dept_list in region_oficial.items()
    for dept in dept_list
}

df_10k["region_oficial"] = df_10k["departamento_domicilio"].map(dept_to_region)

- Elegir una region y cruzar con divipola -> asignar lat lon a cada departamento

In [80]:
inconsistent = df_10k[df_10k["regi_n"] != df_10k["regi_n_corregida"]]
inconsistent[["departamento_domicilio", "regi_n", "regi_n_corregida", "region_oficial"]].value_counts()

departamento_domicilio    regi_n                 regi_n_corregida       region_oficial
TOLIMA                    Otros                  Centro - Oriente       Andina            343
HUILA                     Otros                  Centro - Oriente       Andina            319
SAN ANDRES Y PROVIDENCIA  Costa Atlántica        Otros                  Insular            64
CESAR                     Otros                  Costa Atlántica        Caribe             60
CHOCO                     Otros                  Costa Pacífica         Pacifico           15
LA GUAJIRA                Otros                  Costa Atlántica        Caribe             15
BOGOTA D.C.               Costa Pacífica         Bogotá - Cundinamarca  Andina              6
                          Otros                  Bogotá - Cundinamarca  Andina              4
                          Antioquia              Bogotá - Cundinamarca  Andina              3
                          Costa Atlántica        Bogotá - Cundinamarca  Andina              2
                          Eje Cafetero           Bogotá - Cundinamarca  Andina              2
CORDOBA                   Otros                  Costa Atlántica        Caribe              2
META                      Bogotá - Cundinamarca  Otros                  Orinoquia           1
SANTANDER                 Bogotá - Cundinamarca  Centro - Oriente       Andina              1
QUINDIO                   Otros                  Eje Cafetero           Andina              1
NORTE DE SANTANDER        Bogotá - Cundinamarca  Centro - Oriente       Andina              1
ANTIOQUIA                 Centro - Oriente       Antioquia              Andina              1
CUNDINAMARCA              Costa Atlántica        Bogotá - Cundinamarca  Andina              1
ANTIOQUIA                 Eje Cafetero           Antioquia              Andina              1
CASANARE                  Bogotá - Cundinamarca  Otros                  Orinoquia           1
CALDAS                    Antioquia              Eje Cafetero           Andina              1
ATLANTICO                 Antioquia              Costa Atlántica        Caribe              1
VALLE DEL CAUCA           Antioquia              Costa Pacífica         Pacifico            1
Name: count, dtype: int64

In [81]:
region_change = (
    df_10k.groupby("nit")["regi_n_corregida"]
    .nunique()
    .reset_index(name="region_variants")
    .query("region_variants > 1")
)

print(f"Empresas con cambios de región: {len(region_change)}")

dpto_change = (
    df_10k.groupby("nit")["departamento_domicilio"]
    .nunique()
    .reset_index(name="dpto_variants")
    .query("dpto_variants > 1")
)
print(f"Empresas con cambios de departamento: {len(dpto_change)}")

dpto_change = (
    df_10k.groupby("nit")["ciudad_domicilio"]
    .nunique()
    .reset_index(name="dpto_variants")
    .query("dpto_variants > 1")
)
print(f"Empresas con cambios de ciudad: {len(dpto_change)}")

Empresas con cambios de región: 68
Empresas con cambios de departamento: 159
Empresas con cambios de ciudad: 6293

In [82]:
df_div["nom_mpio_clean"] = df_div["nom_mpio"].apply(normalize_text)
df_div["dpto_clean"]     = df_div["dpto"].apply(normalize_text)

unique_10k_dptos = df_10k.departamento_domicilio.dropna().unique()
unique_div_dptos = df_div.dpto_clean.dropna().unique()
dept_map = {}

for dpto in unique_10k_dptos:
    match, score, _ = process.extractOne(
        dpto,
        unique_div_dptos,
        scorer=fuzz.token_sort_ratio
    )
    dept_map[dpto] = match
df_10k.departamento_domicilio = df_10k.departamento_domicilio.map(dept_map)

dept_to_code = (
    df_div.drop_duplicates(subset=["dpto_clean"])[["dpto_clean", "cod_dpto"]]
    .set_index("dpto_clean")["cod_dpto"]
    .to_dict()
)

df_10k["departamento_code"] = df_10k["departamento_domicilio"].map(dept_to_code)
df_10k["departamento_code"].isna().sum()

0

In [83]:
# def extract_city_only(value: str):
#     if pd.isna(value):
#         return None
#     value = normalize_text(value)
#     return value.split("-")[0].strip()

# df_10k["ciudad_municipio"] = df_10k["ciudad_domicilio"].apply(extract_city_only)
# df_div["nom_mpio_clean"] = df_div["nom_mpio"].apply(normalize_text)

# mpios_by_dpto = (
#     df_div.groupby("cod_dpto")["nom_mpio_clean"]
#           .apply(list)
#           .to_dict()
# )

# mpios_unique = (
#     df_10k["ciudad_municipio"]
#         .dropna()
#         .unique()
# )

# dpto_por_ciudad = (
#     df_10k.groupby("ciudad_municipio")["departamento_code"]
#           .agg(lambda x: x.dropna().mode()[0] if len(x.dropna()) else None)
#           .to_dict()
# )


# def match_ciudad_test(ciudad_raw: str, dept_code: str):
#     ciudad_clean = normalize_text(ciudad_raw)

#     if dept_code not in mpios_by_dpto:
#         return pd.Series([ciudad_clean, None, None, None])

#     candidates = mpios_by_dpto[dept_code]
#     match, score, _ = process.extractOne(
#         ciudad_clean,
#         candidates,
#         scorer=fuzz.token_sort_ratio
#     )
#     row = df_div[df_div["nom_mpio_clean"] == match].iloc[0]

#     return pd.Series([
#         ciudad_clean,
#         match,
#         score,
#         row["cod_mpio"]
#     ])

# df_ciudad_test = pd.DataFrame({
#     "ciudad_raw": mpios_unique,
#     "dept_code": [dpto_por_ciudad.get(c) for c in mpios_unique]
# })

# df_ciudad_test[
#     ["ciudad_clean", "match_sugerido", "score", "cod_mpio"]
# ] = df_ciudad_test.apply(
#     lambda r: match_ciudad_test(r["ciudad_raw"], r["dept_code"]),
#     axis=1
# )

### Master Dataframe Creation

In [84]:
print("Column names in df_10k:", df_10k.columns)
print("\nColumn names in df_ciiu:", df_ciiu.columns)
print("\nColumn names in df_div:", df_div.columns)

Column names in df_10k: Index(['nit', 'supervisor', 'regi_n', 'departamento_domicilio',
       'ciudad_domicilio', 'ciiu', 'macrosector', 'ingresos_operacionales',
       'ganancia_p_rdida', 'total_activos', 'total_pasivos',
       'total_patrimonio', 'a_o_de_corte', 'raz_n_social', 'ciiu_code',
       'macrosector_official', 'regi_n_corregida', 'region_oficial',
       'departamento_code'],
      dtype='object')

Column names in df_ciiu: Index(['seccion_code', 'seccion_desc', 'division_code', 'division_desc',
       'group_code', 'group_desc', 'ciiu_code', 'ciiu_desc',
       'infered_macrosector'],
      dtype='object')

Column names in df_div: Index(['cod_dpto', 'dpto', 'cod_mpio', 'nom_mpio', 'tipo_municipio',
       'longitud', 'latitud', 'nom_mpio_clean', 'dpto_clean'],
      dtype='object')

In [86]:
df_dept = (
    df_div[["cod_dpto", "dpto", "dpto_clean"]]
    .drop_duplicates("cod_dpto")
    .rename(columns={
        "cod_dpto": "departamento_code",
        "dpto": "departamento_name"
    })
)


df_master = df_10k[[
    "nit",
    "raz_n_social",
    "a_o_de_corte",
    "ciiu_code",
    "departamento_code",
    "regi_n_corregida",
    "region_oficial",
    "ingresos_operacionales",
    "ganancia_p_rdida",
    "total_activos",
    "total_pasivos",
    "total_patrimonio",
    "supervisor",
    "macrosector"
]].rename(columns={
    "raz_n_social": "razon_social",
    "a_o_de_corte": "year",
    "regi_n_corregida": "region_supersoc",
    "region_oficial": "region_calc",
    "ingresos_operacionales": "ingresos",
    "ganancia_p_rdida": "ganancias",
    "total_activos": "activos",
    "total_pasivos": "pasivos",
    "total_patrimonio": "patrimonio",
    "macrosector": "macrosector_supersoc"
})

df_master = df_master.merge(
    df_ciiu[["ciiu_code", "ciiu_desc", "infered_macrosector"]],
    on="ciiu_code",
    how="left"
).rename(columns={
    "infered_macrosector": "macrosector_calc"
})

df_master = df_master.merge(
    df_dept[["departamento_code", "departamento_name"]],
    on="departamento_code",
    how="left"
)

df_master["year"] = df_master["year"].astype(int)
df_master = df_master[[
    "nit",
    "razon_social",
    "year",
    "ciiu_code",
    "ciiu_desc",
    "departamento_code",
    "departamento_name",
    "region_supersoc",
    "region_calc",
    "macrosector_supersoc",
    "macrosector_calc",
    "ingresos",
    "ganancias",
    "activos",
    "pasivos",
    "patrimonio",
    "supervisor"
]]

print("df_10k rows:", len(df_10k))
print("df_master rows:", len(df_master))
print("Departamento sin match:", df_master["departamento_name"].isna().sum())
print("CIIU sin match:", df_master["ciiu_desc"].isna().sum())

df_master.to_csv(f"{DATA_PATH}/processed/empresas_10k_master.csv", index=False)
print(f"{DATA_PATH}/processed/empresas_10k_master.csv")

df_10k rows: 40000
df_master rows: 40000
Departamento sin match: 0
CIIU sin match: 0
/workspaces/data-ecosystem/data//processed/empresas_10k_master.csv

### Macroeconomical Year

In [ ]:
catalog = DatasetCatalog()
loader = RawDatasetLoader(
    csv_adapter=CsvAdapter(),
    excel_adapter=ExcelAdapter(),
    sct_adapter=SocrataAdapter(),
)

ds = catalog.get("ban_rep")
records = list(loader.load(ds))
df_raw = pd.DataFrame(records)
df_raw.head()

,Fecha,Índice COLCAP(Dato fin de año),"Producto Interno Bruto (PIB) nominal, Anual, metodología: 2015(Dato fin de año)","Producto Interno Bruto (PIB) nominal, Anual, metodología: 2015(Variación porcentual anual)","Producto Interno Bruto (PIB) real, Anual, base: 2015(Dato fin de año)","Producto Interno Bruto (PIB) real, Anual, base: 2015(Variación porcentual anual)","Crecimiento PIB real, Anual, base: 2015(Dato fin de año)","Crecimiento PIB nominal, Anual, metodología: 2015(Dato fin de año)","Inflación total, anual(Dato fin de año)",Población(Dato fin de año)
0,dd/mm/aaaa,Índice,Miles de millones COP,Miles de millones COP,Miles de millones COP,Miles de millones COP,%,%,%,Número de personas
1,31/12/2015,-,"804.692,00","5,48","804.692,00","2,96","2,96","5,48","6,77",46.313.898
2,31/12/2016,-,"863.782,00","7,34","821.489,00","2,09","2,09","7,34","5,75",46.830.116
3,31/12/2017,-,"920.471,00","6,56","832.656,00","1,36","1,36","6,56","4,09",47.419.200
4,31/12/2018,-,"987.791,00","7,31","854.008,00","2,56","2,56","7,31","3,18",48.258.494

In [24]:
def to_float(x):
    if pd.isna(x):
        return None
    s = str(x).strip().replace(".", "").replace(",", ".")
    try: return float(s)
    except: return None

df = df_raw.iloc[1:].reset_index(drop=True)
df = df[df['Fecha'].astype(str).str.len() == 10].reset_index(drop=True)
df.columns = [f"col_{i}" for i in range(df.shape[1])]
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,31/12/2015,-,"804.692,00","5,48","804.692,00","2,96","2,96","5,48","6,77",46.313.898
1,31/12/2016,-,"863.782,00","7,34","821.489,00","2,09","2,09","7,34","5,75",46.830.116
2,31/12/2017,-,"920.471,00","6,56","832.656,00","1,36","1,36","6,56","4,09",47.419.200
3,31/12/2018,-,"987.791,00","7,31","854.008,00","2,56","2,56","7,31","3,18",48.258.494
4,31/12/2019,-,"1.061.119,00","7,42","882.029,00","3,28","3,28","7,42","3,80",49.395.678

In [25]:
df.drop(columns=['col_1'], inplace=True)
df["year"] = df["col_0"].str[-4:].astype(int)
df_macro = pd.DataFrame({
    "year": df["year"],
    "gdp_nominal": df["col_2"].apply(to_float),
    "gdp_nominal_pct": df["col_3"].apply(to_float),
    "gdp_real": df["col_4"].apply(to_float),
    "gdp_real_pct": df["col_5"].apply(to_float),
    "gdp_nominal_growth": df["col_6"].apply(to_float),
    "gdp_real_growth": df["col_7"].apply(to_float),
    "cpi": df["col_8"].apply(to_float),
    "population": df["col_9"].apply(to_float),
})

df_macro = df_macro.sort_values("year").reset_index(drop=True)
df_macro

,year,gdp_nominal,gdp_nominal_pct,gdp_real,gdp_real_pct,gdp_nominal_growth,gdp_real_growth,cpi,population
0,2015,804692.00,5.48,804692.00,2.96,2.96,5.48,6.77,46313898.0
1,2016,863782.00,7.34,821489.00,2.09,2.09,7.34,5.75,46830116.0
2,2017,920471.00,6.56,832656.00,1.36,1.36,6.56,4.09,47419200.0
3,2018,987791.00,7.31,854008.00,2.56,2.56,7.31,3.18,48258494.0
4,2019,1061119.00,7.42,882029.00,3.28,3.28,7.42,3.80,49395678.0
5,2020,998471.00,-5.81,817900.00,-7.19,-7.19,-5.81,1.61,50407647.0
6,2021,1192634.00,19.45,906243.00,10.80,10.80,19.45,5.62,51117378.0
7,2022,1471079.00,23.35,972655.00,7.33,7.33,23.35,13.12,51682692.0
8,2023,1584562.00,7.71,979584.00,0.71,0.71,7.71,9.28,52215503.0
9,2024,1706447.19,7.69,995240.51,1.60,1.60,7.69,5.20,52695952.0

In [26]:
output_path = "/workspaces/data-ecosystem/data/processed/macro_economic_year.csv"
df_macro.to_csv(output_path, index=False)